.bg_modal {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background: rgba(15, 12, 12, 0.5);
}
.modal {
    position: fixed;
    top: 60px;
    left: 50%;

    width: 500px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    background: white;
    transform: translateX(-50%);
}
